.button {
  background-color: #fff;
  border: 2px solid transparent;
  cursor: pointer;
}

.button:hover {
  border: 2px solid #a1a1a1;
  border-radius: 4px;
}

.active {
  border: 2px solid #a1a1a1;
  border-radius: 4px;
}
