.item {
  display: flex;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  word-break: break-all;
}

.text {
  padding: 12px 16px;
}

.completed {
  text-decoration: line-through;
}

.deleteButton {
  margin: auto 0;
  margin-left: auto;
}

.checkbox {
  margin: auto 0;
  padding-left: 16px;
}
